body {
    /* added font */
    font-family: Arial, Helvetica, sans-serif;
    /* set it to one side of page */
    margin: 0;
    /* got it on one line next to each other*/
    display: flex;
    /* set it to be on top of each other */
    flex-direction: column;

    /* set body color */
    background-color: azure;

}
.box {
    /* added font */
    font-family: Arial, Helvetica, sans-serif;
    /* set it to one side of page */
    margin: 0;
    /* got it on one line next to each other*/
    display: flex;
    /* set it to be on top of each other */
    flex-direction: column;

    /* set body color */
    background-color: azure;

}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-color: aliceblue;

}
/* set quiz section to middle */
.quiz-container{
    margin: auto;
}
/* set timer to right side */
.timer{
    margin-left: 500px;
}

/* the following css elements should help with different types of screen sizes */
@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
}
@media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
}